.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartItem {
  width: 700px;
  height: 250px;
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 30px;
}

.cartItem img {
  width: 140px;
  padding: 10px 5px 10px 10px;
}
.cartItem .description {
  width: 100%;
  font-size: 25px;
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-family: bolder;
}

.checkout button {
  width: 150px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 5px 5px 20px 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
}

.cart-heading {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.subtotal {
  font-size: 25px;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@media (max-width: 520px) {
  .cart-items {
    width: 90%;
  }
  .cartItem {
    margin: 0px;
    width: 100%;
    margin-bottom: 20px;
  }

  .cartItem img {
    width: 42%;
  }

  .description p {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
  }

  .price {
    margin-top: 8px;
  }
}
