.shopTitle {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}
.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.product {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-container-img {
  width: 300px;
  height: 370px;
  place-items: center;
}

.product-images {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product .description {
  text-align: center;
}
.product:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  font-weight: 600;
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  margin-bottom: 4rem;
}
.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: white;
  cursor: pointer;
}

.img {
  width: 100%;
  height: auto;
}

@media (max-width: 900px) {
  .products {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .shopTitle {
    font-size: 20px;
    margin: 20px;
  }
  .shopTitle h1 {
    margin: 10px 0px 0px 0px;
  }
  .product {
    width: 100%;
  }
  .product-container-img {
    width: 50%;
    height: auto;
  }

  .desciption {
    font-size: 20px;
    margin-top: 2px;
  }
  .desciption p {
    margin: 0px;
    margin-bottom: 5px;
  }
  .addToCartBttn {
    margin-top: 8px;
  }
}
